<table *ngIf="Usuarios" border="1">
    <h3> <b>LISTA DE USUÁRIOS</b></h3>
    <tr style="background-color:darkgrey;">
        <td><b>ID</b></td>
        <td><b>Nome</b></td>
        <td><b>Sobrenome</b></td>

        <td><b>Editar</b></td>
        <td><b>Remover</b></td>
    </tr>
    <tr *ngFor="let User of Usuarios.data">

        <td>{{User.id}}</td>
        <td>{{User.first_name}}</td>
        <td>{{User.last_name}}</td>



        <td><button routerLink="/users/update/{{User.id}}">EDITAR</button></td>
        <td><button a routerLink="/users/delete/{{User.id}}">REMOVER</button></td>
    </tr>